@charset "utf-8";
@import url("./fonts.css");
@import url("./reset.css");


$purple:#5f0080;

#wrap {
   width: 100%;
   #topModal {
      width: 100%;
      height: 42px;
      background-color: $purple;
      .container {
         position: relative;
         width: 100%;
         height: 100%;
         max-width: 1050px;
         margin: 0 auto;   //가운데 정렬
         h2 {
            z-index: 1;
            position: relative;
            width: 100%;
            height: 100%;
            a {
               display: block;
               width: 100%;
               height: 100%;
               font-size: 14px;
               font-weight: 500;
               line-height: 42px;
               color: #fff;
               display: flex;
               align-items: center;
               justify-content: center;
               strong {
                  font-weight: 700;
               }
            }
         }
         a {
            z-index: 2;
            width: 42px;
            height: 42px;
            position: absolute;
            top:0;
            right: 0;
            img {
              height: 42px;
            }
         }
      }
   }

   #header {
      width: 100%;
      height: 156px;
      background:#fff;
      .row1 {
         width: 100%;
         height: 36px;
         .container {
            width: 100%;
            height: 100%;
            max-width: 1050px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content:flex-end;
            >ul {
               display: flex;
               height: 100%;
               >li {
                  font-size: 12px;
                  font-weight: 500;
                  position: relative;
                  height: 100%;
                  span {
                     color:$purple;
                  }
                  a {
                     color:#333;
                     display: block;
                     height: 100%;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     img {
                        width: 8px;
                        margin:0 0 -2px 3px;

                     }
                  }
                  i {
                     height: 100%;
                     margin: 0 10px;
                     color: #ccc;
                     display: flex;
                     align-items: center;
                  }
                  .top-tooltip {
                     display: none;
                     position: absolute;  //서브메뉴는 반드시 absolute
                     top: 35px;
                     right: 0;
                     background: #fff;
                     width: 120px;
                     border: 1px solid #ccc;
                     z-index: 2;
                     ul {
                        padding: 10px;
                        li {
                           font-size: 12px;
                           color:#666;
                           a {
                              line-height: 24px;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
      .row2 {
         width:100%;
         height: 64px;
         position: relative;
         z-index: 1;
         .container {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            max-width: 1050px;
            display: flex;
            .left {
               width: 325px;
               height: 100%;
               ul {
                  display: flex;
                  height: 100%;
                  li{
                     height: 100%;
                     display: flex;
                     align-items: center;
                     h1 {
                        a {
                           width: 100%;
                           height: 100%;
                           align-items: center;
                           img {
                              width: 82px;
                              height: 42px;
                              cursor: pointer;
                           }
                           span {
                              font-size: 18px;
                              font-weight: 600;
                              margin: 0 0 0 15px;
                              color: $purple;
                           }
                        }
                     }
                     i {
                        color: #b5b5b5;
                        margin: 0 15px;
                     }
                     span {
                        a {
                           color: #b5b5b5;
                           font-size: 18px;
                           font-weight: 600;
                           transition: all 0.1s;
                           &:hover {
                              color:$purple
                           }
                           img {
                              vertical-align: top;
                              width: 6px;
                              margin: -3px 0 0 2px;
                           }
                        }
                     }
                  }
               }
            }
            .center {
               width: 400px;
               height: 100%;
               .search-box {
                  width: 100%;
                  height: 48px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  position: relative;
                  input {
                     position: relative;  //돋보기를 검색창 안에 삽입하기 위해
                     z-index: 1;
                     width: 100%;
                     height: 100%;
                     border: 1px solid $purple;
                     border-radius: 5px;
                     padding: 0 15px;
                     text-align:start;
                     font-weight: 500;
                     font-size: 14px;
                     &:focus{
                        outline: 0;
                     }
                  }
                  a {
                     position: absolute;
                     z-index: 2;
                     top:5px;
                     right:1px;
                     img {
                        width: 36px;
                        height: 36px;
                     }
                  }
               }
            }

            .right {
               width: 325px;
               height: 100%;
               display: flex;
               justify-content: flex-end;

               >div {
                  display: flex;
                  align-items: center;
                  margin: 0 14px;
                  position: relative;
                  height: 100%;
                  &:nth-child(1){
                     z-index:2;
                  }
                  &:nth-child(2){z-index:1;}
                  &:nth-child(3){z-index:1;}
                  a {
                     img {
                        
                        width: 36px;
                     }
                  }
                  .map-tooltip-menu {
                     display:none;
                     background: #fff;
                     border: 1px solid #ccc;
                     position: absolute;
                     top: 63px;
                     left: 56px;
                     width: 267px;
                     margin: 0 0 0 -155px;
                     ul {
                        padding: 15px;
                        li {
                           font-size: 16px;
                           font-weight: 500;
                           line-height: 22px;
                           padding: 3px 0;
                           em {
                              color: $purple;
                           }
                           >span {
                              color: #333;
                           }
                           button {
                              cursor: pointer;
                              border: 1px solid $purple;
                              border-radius: 2px;
                              font-size: 12px;
                              font-weight: 500;
                              &.login-btn {
                                 width: 80px;
                                 height: 35px;
                                 color: $purple;
                                 background-color: #fff;
                              }
                              &.address-search-btn {
                                 width: 145px;
                                 height: 35px;
                                 background: $purple;
                                 color: #fff;
                                 img {
                                    width: 22px;
                                    color: #fff;
                                    span {
                                       color: #fff;
                                    }
                                 }
                                
                              }
                           }
                           
                           
                        }
                     }
                  }
            
               
            }
            }
         }
      }
      .row3 {
         width: 100%;
         height: 56px;
         .container {
            width: 100%;
            height: 100%;
            max-width: 1050px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            >div {
               &.left {
                  a {
                     img {
                        width: 16px;
                        height: 14px;
                     }
                     strong {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 20px;
                        padding: 0 10px;
                        &:hover {
                           color: $purple;
                        }
                     }
                  }
               }

               &.center {
                  
                  ul {
                     display: flex;
                     li {
                        margin: 0 50px;
                        a {
                           font-size: 16px;
                           font-weight: 600;
                           color: #333;
                           padding: 0 0 1px 0;
                           &:hover{
                              color: $purple;
                              border-bottom: 1px solid $purple;
                           }
                           &.on{
                              color: $purple;
                           }
                        }
                     }
                  }
               }

               &.right {
                  span {
                     a {
                        font-size: 13px;
                        padding: 7px 13px;
                        line-height: 16px;
                        background: #fff;
                        border: 1px solid #eee;
                        border-radius: 16px;
                        em {
                           color: $purple;
                           font-weight: 600;
                           i{
                              color: $purple;
                           }
                        }
                        strong{
                           color: #777;
                           margin: 0 0 0 5px;
                        }
                     }
                  }
               }
            }
         }
      }
   }
   #main {
      position: relative;
      z-index: 2;
      #section1 {
         width: 100%;
         .slide-container {
            position: relative;
            width: 100%;
            max-width: 1903px;
            margin: 0 auto;
            .slide-view {
               z-index: 1;
               position: relative;
               width: 100%;
               overflow: hidden;
               .slide-wrap {  //애니메이션 대상
                  position: relative;
                  width: 100% * 18;
                  left: -100% * 0;
                  margin-left: -100%;
                  display: flex;
                  .slide {
                     width: 100%;
                     a {
                        display: block;
                        width: 100%;
                        img {
                           width: 100%;
                        }
                     }
                  }
               }
            }

            .arrow {
               //display: none;
               width: 52px;
               height: 52px;
               margin-top: -26px;    //width의 반
               position: absolute;
               top: 50%;
               z-index: 2;
               &.arrow-left-box {
                  left: 16%;
                  transform: rotate(180deg);
               }
               &.arrow-right-box {
                  right: 16%;
               }
               a {
                  display: block;
                  width: 100%;
                  height: 100%;
                  i {
                     width: 100%;
                     height: 100%;
                     display: block;
                     background: url(../img/오른쪽화살표.svg) no-repeat 50% 50%;
                     background-size: 52px 52px;
                  }
               }
            }

            .page-box {
               z-index: 2;
               position: absolute;
               bottom: 20px;
               color: #fff;
               right: 25%;
               padding: 4px 10px;
               border-radius: 12px;
               background: rgba(0,0,0,0.3);
               user-select: none;
               em {
                  font-size: 14px;
                  font-weight: 500;
               }
               i {
                  font-size: 14px;
                  font-weight: 500;
               }
            }
         }
      }
      #section2 {
         width: 100%;
         height: 600px;
         background-color: #9c9;
      }
      #section3 {
         width: 100%;
         height: 600px;
         background-color: #99c;
      }
   }
   #footer {
      width: 100%;
      height: 600px;
      background-color: #ccc;
      border-top: 1px solid #ccc;
   }
}